*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100vh;
}
#form-container{
    width: 45%;
    min-width: 600px;
    height: 70vh;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    border-radius: 20px;
}
#side{
    border-radius: 20px 0 0 20px;
    background-color: blueviolet;
}

form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem;
}
form > div{
    display: flex;
    flex-direction: column;
}
form > div > input{
    width: 80%;
}
input:invalid{
    border: 1px solid red;
}
#password-div{
    grid-row: 3 / 4;
    grid-column: 1/2;
}
#password-con-div{
    grid-row: 3/4;
    grid-column: 2/3;
}
button{
    width: 100px;
    height: 50px;
    grid-column: 2/3;
    justify-self: end;
    align-self: flex-end;
}

.error-message{
    width: 80%;
    font-size: 10px;
}  
.active-error{
    padding: 10px;
    background-color: red;
    color: white;
}